[submodule "fx68k"]
	path = fx68k
	url = https://github.com/ijor/fx68k.git
[submodule "gstmcu"]
	path = gstmcu
	url = https://github.com/gyurco/gstmcu
[submodule "ikbd"]
	path = ikbd
	url = https://github.com/gyurco/ikbd
